{% extends "base.html" %}

{% block content %}

{% if articles.count > 0 %}

{% for article in articles%}

<div>
  <h2><a href="/article/get/{{article.id}}/">{{ article.title }}</a></h2>
  <p>{{article.body|lower|truncatewords:"10"}}</p>
</div>

{% endfor %}

{% else %}

<p>None to show</p>

{% endif %}

{% endblock%}
