{% extends "base.html" %}
{% load static %}
{% block content %}

	  <ul>
		<li><a href="/articles/all">Articles</a></li>
	  </ul> 

<h1>{{ article.title }}</h1>
<p>{{ article.body }}</p>
<img src="{% static 'images/article/20140716_143520.jpg' %}" width=200px , heigth=300px></img>

 {% endblock%}
