<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
  <title>{% block title %}My Base Templates{% endblock %}</title>
  <style type="text/css">

    body {
	text-align: center;
    }

    #page {
	width :960px;
	text-align: left;
	margin:10px auto 20px auto;
	background-color:#0c0c0c;
    }

    #sidebar {
	float : left;
	width:200px;
	border:1px solid #000;
    }

    #content {
	float : left;
	width:600px;
	border:1px solid #f00;	
	padding: 10px;
    }
  </style>
<link rel='stylesheet' href="{% static 'css/style.css' %}" />
</head>

<body>
  <div id="page">

	<div id="sidebar">
	 {% block sidebar %} 
	   <ul>
		<li><a href="/articles/all/">Articles</a></li>
		<li><a href="/admin/">Admin</a></li>
	   </ul> 
	 {% endblock%}
	</div>

  	<div id="content">
		{% block content %}This is the content area{% endblock %}
 	 </div>

   </div>
</body>
</html>
